<div class="login-container">
  <div class="header">
    <span class="logo"></span>
    <%= image_tag "logo.png" %>
  </div>
  <div class="content">
    <div class="flash-message text-center">
      <% if @error%>
          <%= content_tag :span, @error, class: "text-danger notice", id: "puffly" %>
      <% end %>
      <% if @message%>
          <%= content_tag :span, @message, class: "text-success notice", id: "puffly" %>
      <% end %>
    </div> <br/> <br/>
    <div class="login">
      <form accept-charset="UTF-8" action="/login" class="new_user" id="new_user" method="post">
        <div class="form-group">
          <label for="user_nick">User Nick</label>
          <input class="form-control" id="user_nick" name="user_nick" type="text">
        </div>
        <input class="btn btn-info" name="commit" type="submit" value="Log In">
        <br/><a href="/user" method="post" class="text-blue font-weight-bold">Sign Up?</a>
      </form>
    </div>
  </div>
</div>


